/*CSS responsivo*/
/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 959px){


}

/*Smartphone*/
@media only screen and (max-width: 767px){
	
	/*Header*/
	.header {
		position: relative;
		padding-bottom: 0px;
	}

	.header_menu {
		text-align: center;
	}
	
	.header_menu ul li {
		margin:  5px;
	}

	.header_menu ul li a {
		width: 136px;
		border:  2px solid #000;
		display: block;
		float:  left;
	}

	.header_menu ul li a:hover {
		border-color: #801815;
	}

	#nome_pandeco {
		margin: 0 auto 30px auto;
		margin-left: 65px;
	}

	/*Introdução */
	.introducao {
		margin-top: 0px;
		padding-top: 20px;
		background: url('../img/bg-mobile.jpg') no-repeat center;
		background-size: cover;
	}

	/*Contato*/

	.contato_form {
		padding-right: 0px;
		margin-bottom: 40px;
	}
}